AddDefaultCharset UTF-8

<ifModule mod_rewrite.c>
RewriteEngine On

#Редирект с домена без www на домен с www
RewriteCond %{HTTP_HOST} ^tamada-69\.ru$ [NC]
RewriteRule ^(.*)$ http://www.tamada-69.ru/$1 [R=301,L]

#Редирект с index.php на главную
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP
RewriteRule ^index\.php$ http://www.tamada-69.ru/ [R=301,L]

#Редирект с index на главную
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\ HTTP
RewriteRule ^index$ http://www.tamada-69.ru/ [R=301,L]

#Редирект с index/ на главную
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index/\ HTTP
RewriteRule ^index/$ http://www.tamada-69.ru/ [R=301,L]

#Редирект с index.html на главную
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP
RewriteRule ^index\.html$ http://www.tamada-69.ru/ [R=301,L]

#301 редирект страниц со слэшем и без
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*[^/])$ $1/ [L,R=301]

</ifModule>